/*
////////////////////////////////////////
reset.css を読み込んで全てのスタイルをなくす
////////////////////////////////////////
*/

/* http://meyerweb.com/eric/tools/css/reset/
  v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*
////////////////////////////////////////
reset.css では足りない初期化を追加
////////////////////////////////////////
*/

/* 全てに box-sizing: border-box; を適用 */
*, *:before, *:after {
  box-sizing: border-box;
}

/* 画像に関する初期設定 */
img {
  /* 大きい画像がはみ出さないように */
  max-width: 100%;
  /* 画像周りの無駄なスペースができないように */
  vertical-align: bottom;
}

/*
////////////////////////////////////////
初期設定
////////////////////////////////////////
*/

html {
  font-family: arial, sans-serif;
}

body {
  color: #444;
  background-color: #aaa;
}

/* 全体を真ん中に配置 */
.container {
  width: 980px;
  margin-left: auto;
  margin-right: auto;
  background-color: #666;
  box-shadow: rgba(0, 0, 0, .4) 0 0 8px;
  /* floatを使った場合の対策 */
  overflow: hidden;
}

/*
////////////////////////////////////////
ここから下にCSSを書いてデザインを入れよう
////////////////////////////////////////
*/

.header {
  display: flex;
  height: 120px;
  background-color: #999;
  justify-content: center;
  align-items: center;
}

.header__title {
  color: #4C4C4C;
  font-size: 40px;
  font-weight: bold;
}

.global-nav__items {
  display: flex;
}

.global-nav__item {
  flex: 1;
}

.global-nav__item:nth-child(odd) .global-nav__link {
  background-color: #D9D9D9;
}

.global-nav__item:nth-child(even) .global-nav__link {
  background-color: #AEAEAE;
}

.global-nav__item:nth-child(odd) .global-nav__link.is-current {
  color: #fff;
  background-color: #333;
}

.global-nav__item:nth-child(even) .global-nav__link.is-current {
  color: #fff;
  background-color: #333;
}

.global-nav__item a {
  color: #4C4C4C;
  text-decoration: none;
  font-size: 12px;
  font-weight: bold;
}

.global-nav__link {
  display: flex;
  height: 64px;
  align-items: center;
  justify-content: center;
}

a.global-nav__link:hover,
a.global-nav__link:focus {
  opacity: 0.5;
}

.bread-crumbs {
  padding: 8px;
  background-color: #5C5C5C;
}

.bread-crumbs ol {
  display: flex;
}

.bread-crumbs li {
  display: flex;
  align-items: center;
}

.bread-crumbs__items li:not(:last-child)::after {
  content: ">";
  color: #fff;
  font-size: 12px;
  margin-left: 6px;
  margin-right: 6px;
}

.bread-crumbs__item a {
  color: #fff;
  text-decoration: none;
  align-items: center;
  font-size: 12px;
}

.top-ads__items {
  display: flex;
  background-color: #CCCCCC;
  justify-content: space-evenly;
}

.top-ads__item {
  width: 30%;
  padding: 16px 0;
}

.top-ads__image {
  width: 100%;
}

.body {
  display: flex;
  flex-direction: row-reverse;
}

.main {
  background-color: #fff;
}

.body .main {
  width: 70%;
}

.body .aside {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.main-header {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 8px;
  background-color: #EEE;
}

.main-header__title {
  font-size: 32px;
  font-weight: bold;
  margin-left: 24px;
}

.main-header::before {
  content: "";
  position: absolute;
  transform: translateY(100%);
  height: 8px;
  border-left: solid 8px #444;
  border-right: solid 8px #989898;
}

.main-header::after {
  content: "";
  position: absolute;
  transform: translateY(200%);
  height: 8px;
  border-right: solid 8px #444;
  border-left: solid 8px #989898;
}

.article {
  background-color: #DDD;
  padding: 16px;
}

.article h3 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.article__title {
  font-size: 24px;
  font-weight: bold;
  padding-top: 8px;
  padding-left: 16px;
  padding-bottom: 8px;
}

.article__title::before {
  content: "";
  position: absolute;
  transform: translateY(-12.5%);
  width: 8px;
  margin-left: -16px;
  border-top: solid 16px #999;
  border-bottom: solid 16px #444;
}

.article__paragraph {
  font-size: 16px;
  line-height: 1.8;
  text-align: justify;
  margin-bottom: 16px;
}

.article__strong {
  font-weight: bold;
}

.article__sub-title {
  font-size: 20px;
  font-weight: bold;
  margin-left: 20px;
  margin-bottom: 8px;
}

.article__sub-title::before {
  content: "";
  position: absolute;
  transform: translateX(-500%) translateY(33.33%);
  height: 12px;
  border-left: solid 4px #444;
}

.article__sub-title::after {
  content: "";
  position: absolute;
  transform: translateX(-1430%) translateY(33.33%);
  height: 12px;
  border-left: solid 8px #444;
  border-top: solid 6px transparent;
  border-bottom: solid 6px transparent;
}

.article__unorder-list {
  list-style-type: disc;
  line-height: 1.8;
  padding-left: 24px;
  margin-bottom: 24px;
}

.article__blockquote {
  border-left: solid 4px #999;
  padding-left: 16px;
  padding-top: 32px;
  margin-left: 16px;
}

.article__blockquote::before {
  content: "“";
  position: absolute;
  display: flex;
  font-size: 56px;
  width: 36px;
  height: 36px;
  justify-content: center;
  align-items: center;
  background-color: #999;
  box-sizing: border-box;
  color: #FFF;
  padding-top: 28px;
  border-radius: 50%;
  transform: translateX(-100%) translateY(-120%);
}

.article__blockquote-paragraph {
  font-size: 16px;
  line-height: 1.6;
  text-align: justify;
  margin-bottom: 32px;
}

.article__image {
  display: flex;
  filter: saturate(150%);
  box-sizing: border-box;
  padding: 2px;
  margin-bottom: 24px;
}

.article__sub-sub-title {
  font-size: 18px;
  font-weight: bold;
  margin-left: 18px;
  margin-bottom: 8px;
}

.article__sub-sub-title::before {
  content: "";
  position: absolute;
  font-size: 18px;
  width: 9px;
  height: 9px;
  background-color: #444;
  box-sizing: border-box;
  position: absolute;
  color: #FFF;
  border-radius: 50%;
  transform: translateX(-200%) translateY(50%);
}

.article__sub-sub-title::after {
  content: "";
  position: absolute;
  font-size: 18px;
  width: 9px;
  height: 9px;
  background-color: #999;
  box-sizing: border-box;
  position: absolute;
  color: #FFF;
  border-radius: 50%;
  transform: translateX(-940%) translateY(50%);
}

.article__order-list-item {
  list-style-type: decimal;
  line-height: 1.6;
  margin-left: 16px;
  margin-bottom: 8px;
}

.form {
  background: #fff;
}

.form h3 {
  font-size: 20px;
  font-weight: bold;
  padding-left: 40px;
  position: relative;
  overflow: hidden;
}

.form h3::before {
  content: "";
  display: block;
  width: 30px;
  height: 20px;
  position: absolute;
  left: 0px;
  border: solid 2px #444;
}

.form h3::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0px;
  border: solid 2px #444;
  transform: translateY(-140%) rotate(45deg);
}

.form__title {
  margin: 16px;
  position: relative;
  overflow: hidden;
}

.form-item {
  display: flex;
  margin-bottom: 16px;
}

.form-item__label {
  display: inline-block;
  flex-basis: 200px;
  text-align: right;
  font-weight: bold;
  font-size: 16px;
  padding: 8px;
}

.form-item__text-input {
  display: inline-block;
  flex-grow: 1;
  outline: none;
  border: 1px solid #DDD;
  margin: 0 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  padding: 8px;
}

.form-item__textarea {
  display: inline-block;
  flex-grow: 1;
  outline: none;
  border: 1px solid #DDD;
  margin: 0 16px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  vertical-align: middle;
  padding: 8px;
  height: 24em;
  font-family: inherit;
  line-height: 1.2;
}

.form-item__inline-items {
  display: flex;
  margin: 0 16px;
}

.form-item__radio {
  display: inline-block;
  background-color: #EAEAEA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #DDD;
  padding: 12px 12px 12px 8px;
  margin-right: 12px;
}

.form-item__checkbox {
  display: inline-block;
  background-color: #D5D5D5;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #DDD;
  padding: 12px 12px 12px 8px;
  margin-right: 12px;
}

.form-item__select-pull-down {
  display: inline-block;
  flex-grow: 1;
  margin: 0 16px;
  background-color: #EAEAEA;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: solid 2px #DDD;
}

.form-item__select-list {
  display: inline-block;
  flex-grow: 1;
  margin: 0 16px;
  border: solid 1px #DDD;
}

.form-item__select-list-option {
  padding: 8px;
  background-color: #EAEAEA;
  border: solid 2px #DDD;
}

.form-item__file {
  margin: 0 16px;
  flex-grow: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EAEAEA;
  border: solid 2px #DDD;
  padding: 4px;
}

.form-item__actions {
  flex-grow: 1;
}

.form-item__actions-items {
  display: flex;
  justify-content: space-between;
  margin: 0 16px;
}

.form-item__actions-item {
}

.form-item__action {
  width: 200px;
  padding: 8px 0;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  background-color: #EAEAEA;
  border: solid 2px #DDD;
}

.is-submit {
  background-color: #343434;
  color: #fff;
}

.is-reset {
  background-color: #C1C1C1;
}

.aside {
  padding: 8px;
}

.aside-ads__item {
  margin-bottom: 8px;
}

.local-nav {
  height: 144px;
  margin-top: 16px;
  overflow-y: scroll;
}

.local-nav__item {
  padding-bottom: 4px;
}

.local-nav__link {
  display: flex;
  height: 40px;
  width: 100%;
  color: #fff;
  background-color: #AEAEAE;
  text-decoration: none;
  align-items: center;
  justify-content: flex-start;
  padding: 8px;
}

a.local-nav__link:hover,
a.local-nav__link:focus {
  opacity: 0.5;
}

.local-nav__link.is-current {
  opacity: 0.5;
}

.footer {
  padding: 24px;
  display: flex;
  flex-wrap: wrap;
  background-color: #343434;
}

.footer-nav {
  display: flex;
  flex-basis: 50%;
}

.about-author {
  background-color: #C1C1C1;
  flex-basis: 50%;
  padding: 8px;
  display: flex;
  flex-wrap: wrap;
  border-radius: 5px;
}

.footer-copyright {
  flex-basis: 100%;
  text-align: center;
  padding-top: 24px;
  color: #fff;
  font-size: 12px;
}

.footer-nav__items {
  flex: 1;
  margin-left: 16px;
  padding-left: 16px;
}

.footer-nav__item {
  flex: 1;
  padding-bottom: 6px;
}

.footer-nav__item::before {
  content: ">";
  color: #fff;
  display: block;
  position: absolute;
  transform: translateX(-150%);
}

.footer-nav__link {
  color: #FFF;
  text-decoration: none;
  font-size: 12px;
}

.about-author__title {
  flex-basis: 100%;
  font-weight: bold;
  font-size: 14px;
  padding: 8px;
}

.about-author__image {
  border-radius: 50%;
  padding: 8px;
  width: 7vw;
  height: 7vw;
}

.about-author__descriptions {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  padding: 12px;
}

.about-author__term {
  width: 25%;
  display: flex;
  justify-content: flex-end;
  padding-right: 16px;
  padding-bottom: 12px;
}

.about-author__description {
  width: 75%;
  line-height: 1.4;
}
